<h1>Меню</h1>
<h4>{{#link-to 'menus.new'}}Добавить меню{{/link-to}}</h4>
{{!--
<h4>{{#link-to 'menus.submenus'}}Добавить ПОДменю{{/link-to}}</h4>
--}}
<br/>

{{#if model.length}}
	<table>
	{{#each model as |m| }}
		<tr>
			<td> • </td> <td> {{m.name}}</td> <td> <span class="label label-danger"  {{action 'deleteMenu' m.id}}> del </span></td>
		</tr>	
	{{/each}}
	</table>
{{else}}
	{{alert-panel title="Внимание!" body="Меню пустое, срочно примите меры по наполнению!"}}
{{/if}}

<br/>
{{outlet}}
